.pio/
*.pioenvs/
platformio.ini.bak
.vscode/.browse.c_cpp.db*
.vscode/ipch/
.vscode/c_cpp_properties.json
.vscode/launch.json
*.elf
*.hex
*.bin
*.out
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
